body {
    background: #2F263C;
    color: #fff;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome {
    background: #281E36;
    border-radius: 10px;
    padding: 2em;
}
.chat {
    background: #281E36;
    border-radius: 10px;
}

.message {
    padding: 1em 1em 0;
}
.messages {
    min-height: 50vh;
}
.media-body {
    background: rgba(1, 112, 231, 0.5);
    padding: .6em .6em;
    border-radius: 3px;
}